* {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

body {
  background: rgb(255, 243, 249);
  background: linear-gradient(
    90deg,
    rgba(255, 243, 249, 1) 0%,
    rgba(255, 233, 245, 1) 50%,
    rgba(255, 173, 210, 1) 100%
  );
}

h2 {
  text-align: center;
  font-size: small;
  font-weight: bold;
}

#escala {
  font-size: large;
  font-weight: 600;
}

.input-data {
  width: 30%;
  font-size: large;
  font-weight: 600;
  background-color: aqua;
  border-style: none;
}

.input-data:focus {
  background: rgb(226, 255, 255);
}

.local {
  font-size: small;
  text-align: center;
  margin-bottom: 50px;
}

#header-data {
  /* display: flex;
    flex-direction: row; */
  display: block;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.linhaDiasSemana {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-gap: 1rem; */
}

input {
  padding: 1px;
  margin-bottom: 2px;
}

textarea {
  text-align: center;
  width: 80px;
  height: 70px;
  resize: none;
}

textarea:focus {
  background: rgb(226, 255, 255);
}

.cor1,
.cor2 {
  background-color: rgb(114, 205, 250);
}

.cor3,
.cor4 {
  background-color: bisque;
}

.cor5 {
  background-color: rgb(152, 144, 217);
}

.cor6 {
  background-color: rgb(127, 255, 193);
}

.cor7 {
  background-color: rgb(254, 192, 106);
}

.cor8 {
  background-color: rgb(253, 138, 31);
}
label {
  display: block;
}

#teammates {
  font-weight: 600;
  border-style: none;
}

#teammates:focus {
  background: rgb(226, 255, 255);
}

#save {
  background-color: rgb(62, 179, 33);
  font-weight: 700;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px rgb(153, 153, 153);
  /* position: fixed;
    left: 50% */
}

#load {
  background-color: rgb(33, 91, 179);
  font-weight: 700;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px rgb(153, 153, 153);
}

#delete {
  background-color: rgb(255, 77, 0);
  font-weight: 700;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 5px;
  width: 100%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(93, 77, 77);
  /* position: fixed;
    left: 50% */
}

#save:hover {
  background-color: #027a00;
}

#load:hover {
  background-color: #005d7a;
}

#save:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  /* transition: 0.1s; */
}

#load:active {
  background-color: #3e758e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  /* transition: 0.1s; */
}

#delete:hover {
  background-color: #ff0000;
}

#delete:active {
  background-color: #e10e0e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
